<h2 class="col-md-12">All Players</h2>

<div class="col-md-12">
    <button class="btn btn-success" ng-click="upsertPlayer()">Create a new player</button>
    <script type="text/ng-template" id="playerEdit.html">
        <div class="modal-header">
            <h3 class="modal-title">Player</h3>
        </div>
        <div class="modal-body">
            <div>First name:</div>
            <input type="text" ng-model="entity.FirstName" placeholder="first name"></input>
            <div>Last name:</div>
            <input type="text" ng-model="entity.LastName" placeholder="last name"></input>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>

<div class="col-md-12 spacer">
    <div class="col-md-12">Players</div>
    <div class="col-md-12" ng-repeat="player in playerList">
        <div class="col-md-10">
            <a ng-href="#/players/{{player.Id}}">
                <div ng-bind="player.FirstName + ', ' + player.LastName"></div>
            </a>
        </div>
        <div class="col-md-2">
            <button ng-click="upsertPlayer(player)" class="btn btn-primary">Edit</button>
            <button ng-click="deletePlayer(player.Id)" class="btn btn-warning">Delete</button>
        </div>
    </div>
</div>