<formHeader formHeader title="Players" buttonaction="upsertPlayer()" buttonlabel="Create a new player">
</formHeader>
    
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tr ng-repeat="player in playerList | filter:searchText" ng-click="redirectToPlayer(player.Id);" class="clickable">
        <td ng-bind="player.FirstName"/>
        <td ng-bind="player.LastName"/>
        <td ng-bind="player.Email"/>
        <td>
            <button ng-click="upsertPlayer(player)" class="btn btn-primary">Edit</button>
            <button confirm="Are you sure, you want to delete player {{player.FirstName}} {{player.LastName}}?" ng-click="deletePlayer(player.Id)" class="btn btn-danger">Delete</button>
        </td>
    </tr>
</table>
    
<script type="text/ng-template" id="playerEdit.html">
    <div class="modal-header">
        <h3 class="modal-title">Player</h3>
    </div>
    <div class="modal-body">
        <div>First name:</div>
        <input type="text" ng-model="entity.FirstName" placeholder="first name" />
        <div>Last name:</div>
        <input type="text" ng-model="entity.LastName" placeholder="last name" />
        <div>Email:</div>
        <input type="text" ng-model="entity.Email" placeholder="email" />
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

