<nav class="navbar navbar-default">
    <div class="container" ng-controller="authController">
        <h1>Coba Sports</h1>
        <div class="col-md-11">
            <a type="button" class="btn btn-primary navbar-btn" href="#/sports">Sports</a>
            <a type="button" class="btn btn-primary navbar-btn" href="#/players">Players</a>
            <a type="button" class="btn btn-success navbar-btn" ng-show="loggedInPlayer().Id" ng-href="#/players/{{loggedInPlayer().Id}}">My page</a>
        </div>

        <div class="col-md-1">
            <a type="button" class="btn btn-success navbar-btn" ng-click="authenticate('google')" ng-show="!loggedInPlayer()">Sign in with Google</a>
            <!--<a type="button" class="btn btn-default navbar-btn" ng-click="authenticate('facebook')">Sign in with Facebook</button>-->
            <!--<a type="button" class="btn btn-default navbar-btn" ng-click="authenticate('github')">Sign in with GitHub</button>
            <a type="button" class="btn btn-default navbar-btn" ng-click="authenticate('linkedin')">Sign in with LinkedIn</button>
            <a type="button" class="btn btn-default navbar-btn" ng-click="authenticate('twitter')">Sign in with Twitter</button>
            <a type="button" class="btn btn-default navbar-btn" ng-click="authenticate('foursquare')">Sign in with Foursquare</button>
            <a type="button" class="btn btn-default navbar-btn" ng-click="authenticate('yahoo')">Sign in with Yahoo</button>
            <a type="button" class="btn btn-default navbar-btn" ng-click="authenticate('live')">Sign in with Windows Live</button>-->
            <a type="button" class="btn btn-warning navbar-btn" ng-click="logout()" ng-show="loggedInPlayer().Id">Logout</a>
        </div>
    </div>
</nav>