<formHeader formHeader title="Sports" buttonaction="upsertSport()" buttonlabel="Create a new sport">
</formHeader>

<div class="col-md-12">
    
    <div>This is value:</div>
    <div ng-model="test"></div>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Sport</th>
            <th>Meetings#</th>
            <th>Players#</th>
            <th>Action</th>
        </tr>
        </thead>
        <tr ng-repeat="sport in sportsList | filter: searchText">
            <td unihref="sports/{{sport.Id}}"><div ng-bind="sport.Caption"></div></td>
            <td ng-bind="sport.Meetings.length"></td>
            <td ng-bind="sport.SportPlayers.length"></td>
            <td>
                <button ng-click="upsertSport(sport)" class="btn btn-primary">Edit</button>
            </td>
        </tr>
    </table>
</div>
     
