<h2 class="col-md-12" ng-bind="'Sport detail: ' + sport.Caption"></h2>

<div class="col-md-6">
    <div class="col-md-12 spacer">
        <button class="btn btn-success" ng-click="upsertMeeting()">Create a new meeting</button>
        <script type="text/ng-template" id="meetingEdit.html">
            <div class="modal-header">
                <h3 class="modal-title">Meeting</h3>
            </div>
            <div class="modal-body">
                <div>Sport caption:</div>
                <input type="date" class="form-control" datepicker-popup ng-model="entity.Timestamp" min-date="minDate" ng-required="true" />
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </script>
    </div>

    <div class="col-md-12">
        <h3 class="col-md-12">Meetings</h3>
        <div class="col-md-12" ng-repeat="meeting in meetings">
            <div class="col-md-6">
                <a ng-href="#/meetings/{{meeting.Id}}">
                    <div ng-bind="meeting.Timestamp | date : 'd. M. yyyy'"></div>
                </a>
            </div>
            <div class="col-md-6">
                <a ng-click="deleteMeeting(meeting.Id)" class="btn btn-danger btn-sm active" role="button">delete</a>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="col-md-12 spacer">
        <button class="btn btn-success" ng-click="insertSportPlayer()">Assign new player</button>
        <script type="text/ng-template" id="sportPlayerInsert.html">
            <div class="modal-header">
                <h3 class="modal-title">Sport player</h3>
            </div>
            <div class="modal-body">
                <div>Select player:</div>
                <select class="form-control" ng-required="true" ng-model="entity.PlayerId">
                    <option ng-selected="{{true}}"
                            ng-repeat="player in selects.players"
                            value="{{player.Id}}">
                      {{player.FirstName}}, {{player.LastName}}
                    </option>
                </select>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </script>
    </div>

    <div class="col-md-12">
        <h3 class="col-md-12">Sport players</h3>
        <div class="col-md-12" ng-repeat="sportPlayer in sportPlayers">
            <div class="col-md-6">
                <a ng-href="#/players/{{player.Id}}">
                    {{sportPlayer.Player.FirstName}}, {{sportPlayer.Player.LastName}}
                </a>
            </div>
            <div class="col-md-6">
                <a ng-click="deleteSportPlayer(sportPlayer.Id)" class="btn btn-danger btn-sm active" role="button">Unasign</a>
            </div>
        </div>
    </div>
</div>