<a ng-href="#/sports/{{meeting.Sport.Id}}">
    <h2 class="col-md-12" ng-bind="'Sport: ' + meeting.Sport.Caption"></h2>
</a>
<h3 class="col-md-12 form-inline">
    <label>
        Meeting: <select class="input-lg" ng-required="true" ng-model="selectedMeeting" ng-options="meeting.Timestamp | date : 'd. M. yyyy' for meeting in meetingsSelect track by meeting.Id"></select>
    </label>
</h3>


<div class="col-md-12">
    <div class="col-md-12">Players</div>
    <div class="col-md-12" ng-repeat="player in sportAndMeetingPlayers">
        <div class="col-md-3">
            <div ng-bind="player.FirstName + ' ' + player.LastName"></div>
        </div>
        <div class="col-md-3">
            <div ng-bind="getMeetingPlayer(player.Id).Timestamp | date : 'd. M. yyyy hh:mm:ss'"></div>
        </div>
        <div class="col-md-2">
            <div ng-bind="getAttendance(player.Id)"></div>
        </div>
        <div class="col-md-4">
            <button class="btn btn-success" ng-disabled="getAttendance(player.Id) == 'Yes'" ng-click="answer(player, true);">Yes</button>
            <button class="btn btn-danger" ng-disabled="getAttendance(player.Id) == 'No'" ng-click="answer(player, false);">No</button>
            <button class="btn btn-warning" ng-disabled="getAttendance(player.Id) == 'Dont know'" ng-click="answer(player, null);">Dont Know</button>
        </div>
    </div>
    <div class="col-md-4 spacer">
        <table class="table table-condensed">
            <tr>
                <td>Number of YES: </td><td ng-bind="totalAttenders"></td>
            </tr>
            <tr>
                <td>Number of NO: </td><td ng-bind="totalNoers"></td>
            </tr>
            <tr>
                <td>Number of Dont Know: </td><td ng-bind="totalDontKnowers"></td>
            </tr>
            <tr>
                <td>Number of Not Answered: </td><td ng-bind="totalNotAnswered"></td>
            </tr>
        </table>
    </div>
</div>