<a ng-href="#/sports/{{meeting.Sport.Id}}">
    <h2 class="col-md-12" ng-bind="'Sport: ' + meeting.Sport.Caption"></h2>
</a>
<h3 class="col-md-12 form-inline">
    <label>
        Meeting: <select class="input-lg" ng-required="true" ng-model="selectedMeeting" ng-options="meeting.Timestamp | date : 'EEE d. M. yyyy' for meeting in meetingsSelect track by meeting.Id"></select>
    </label>
</h3>

<input class="form-inline col-md-8" ng-model="$parent.searchText" placeholder="filter" />
<button class="btn btn-sm btn-danger btn-sm" style="margin-left: 10px" ng-click="$parent.searchText = ''">X</button>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Player</th>
            <th>Updated</th>
            <th>Status</th>
            <th>Attendance</th>
        </tr>
    </thead>
    <tr ng-repeat="player in sportAndMeetingPlayers | filter:searchText" ng-class="getAttendanceClass(player.Id)">
        <td unihref="/players/{{player.Id}}">
            <div ng-bind="player.FirstName + ', ' + player.LastName"></div>
        </td>
        <td ng-bind="getMeetingPlayer(player.Id).Timestamp | date : 'EEE d. M. yyyy H:mm:ss'"/>
        <td ng-bind="getAttendanceLabel(player.Id)"/>
        <td>
            <button class="btn btn-success" ng-disabled="getAttendanceClass(player.Id) == 'success'" ng-click="answer(player, true);">Yes</button>
            <button class="btn btn-danger" ng-disabled="getAttendanceClass(player.Id) == 'danger'" ng-click="answer(player, false);">No</button>
            <button class="btn btn-warning" ng-disabled="getAttendanceClass(player.Id) == 'warning'" ng-click="answer(player, null);">Dont Know</button>
        </td>
    </tr>
</table>

<div class="col-md-4 spacer">
    <table class="table table-condensed">
        <tr>
            <th>Summary</th>
            <th>#</th>
        </tr>
        <tr class="success">
            <td>YES</td><td ng-bind="totalAttenders"></td>
        </tr>
        <tr class="danger">
            <td>NO</td><td ng-bind="totalNoers"></td>
        </tr>
        <tr class="warning">
            <td>Dont Know</td><td ng-bind="totalDontKnowers"></td>
        </tr>
        <tr class="active">
            <td>Not Answered</td><td ng-bind="totalNotAnswered"></td>
        </tr>
    </table>
    <div class="spacer">
        <div>Email reminder for players:</div>
        <a ng-href="mailto:{{playersEmails}}?subject=Reminder for {{meeting.Sport.Caption}} {{meeting.Timestamp | date : 'EEE d. M. yyyy'}}&body=Hi!%0D%0ADon't forget to click YES!%0D%0A{{absUrl()}}%0D%0A%0D%0ACheers,%0D%0AYours CoBa Sports">Prepare email</a>
    </div>
</div>
