<a ng-href="#/sports/{{sport.Id}}">
    <h2 class="col-md-12" ng-bind="'Sport: ' + sport.Caption"></h2>
</a>
<h3 class="col-md-2">Meeting:</h3>
<h2 class="col-md-10" ng-bind="meeting.Timestamp | date : 'd. M. yyyy'"></h2>


<div class="col-md-12">
    <div class="col-md-12">Players</div>
    <div class="col-md-12" ng-repeat="player in sportPlayers">
        <div class="col-md-2">
            <div ng-bind="player.Player.FirstName + ' ' + player.Player.LastName"></div>
        </div>
        <div class="col-md-2">
            <div ng-bind="player.MeetingPlayer[0].Timestamp | date : 'd. M. yyyy hh:mm'"></div>
        </div>
        <div class="col-md-2">
            <div ng-show="player.MeetingPlayer[0].IsAttending">YES</div>
            <div ng-show="!player.MeetingPlayer[0].IsAttending && player.meetingPlayer.IsAttending != null">NO</div>
            <div ng-show="player.MeetingPlayer[0].IsAttending == null && player.meetingPlayer">Dont know</div>
            <div ng-show="!player.MeetingPlayer[0]">Not answered</div>
        </div>
        <div class="col-md-6">
            <button class="btn btn-success" ng-click="answer(player, true);">Yes</button>
            <button class="btn btn-danger" ng-click="answer(player, false);">No</button>
            <button class="btn btn-warning" ng-click="answer(player, null);">Dont Know</button>
        </div>
    </div>
    <div ng-bind="'Number of attendies: ' + totalAttenders"></div>
</div>